@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 140 29% 96%;
    --foreground: 150 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 150 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 15% 20%;
    --primary: 150 41% 40%;
    --primary-foreground: 150 25% 95%;
    --secondary: 150 20% 90%;
    --secondary-foreground: 150 15% 20%;
    --muted: 150 20% 90%;
    --muted-foreground: 150 10% 40%;
    --accent: 47 65% 76%;
    --accent-foreground: 45 40% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 20% 85%;
    --input: 150 20% 88%;
    --ring: 150 41% 40%;
    --chart-1: 150 41% 40%;
    --chart-2: 47 65% 76%;
    --chart-3: 150 30% 60%;
    --chart-4: 47 50% 60%;
    --chart-5: 150 20% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 150 15% 20%;
    --sidebar-primary: 150 41% 40%;
    --sidebar-primary-foreground: 150 25% 95%;
    --sidebar-accent: 150 20% 90%;
    --sidebar-accent-foreground: 150 15% 20%;
    --sidebar-border: 150 20% 85%;
    --sidebar-ring: 150 41% 40%;
  }

  .dark {
    --background: 150 10% 10%;
    --foreground: 150 10% 85%;
    --card: 150 10% 13%;
    --card-foreground: 150 10% 85%;
    --popover: 150 10% 13%;
    --popover-foreground: 150 10% 85%;
    --primary: 149 43% 80%;
    --primary-foreground: 150 41% 15%;
    --secondary: 150 10% 20%;
    --secondary-foreground: 150 10% 85%;
    --muted: 150 10% 20%;
    --muted-foreground: 150 10% 55%;
    --accent: 47 72% 79%;
    --accent-foreground: 45 40% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 10% 20%;
    --input: 150 10% 20%;
    --ring: 149 43% 80%;
    --chart-1: 149 43% 80%;
    --chart-2: 47 72% 79%;
    --chart-3: 150 30% 70%;
    --chart-4: 47 50% 70%;
    --chart-5: 150 20% 60%;
    --sidebar-background: 150 10% 10%;
    --sidebar-foreground: 150 10% 85%;
    --sidebar-primary: 149 43% 80%;
    --sidebar-primary-foreground: 150 41% 15%;
    --sidebar-accent: 150 10% 20%;
    --sidebar-accent-foreground: 150 10% 85%;
    --sidebar-border: 150 10% 20%;
    --sidebar-ring: 149 43% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
